<!-- MODALS BOX -->
<!-- MODALS WRAPPER -->
<div class="modal_wrapper modal_5">
    <!-- MODALS MAIN -->
    <div class="modal_main">
        <div class="modal_header">
            <h2><span class="header_text">Confirm</span></h2>
        </div>
        <div class="modal_content">
            <button class="confirm_delete delete_movies">Yes</button>
            <button class="cancel_btn confirm_cancel">Cancel</button>
        </div>
    </div>
</div>