<!-- MODALS BOX -->
<!-- MODALS WRAPPER -->
<div class="modal_wrapper modal_2">
<!-- MODALS MAIN -->
<div class="modal_main">
    <div class="modal_header">
        <h2><span class="header_text">What do you want to download?</span></h2>
    </div>
    <div class="modal_content">
         <form class="form_modal" method="POST" action="/update_series">
            <input type="hidden" name="id_edit" id="data_id">
            <label for="title_edit">Series Name</label>
            <br>
            <input name="title_edit" id="title_edit" type="text" class="form_input" placeholder="Loading..." autofocus required>
            <br>
            <br>
            <label for="season_edit" class="second_label">Season</label>
            <br>
            <input name="season_edit" id="season_edit" type="number" class="form_input"  placeholder="Loading..." required>
            <br>
            <br>
            <label for="episode_edit" class="second_label">Episode</label>
            <br>
            <input name="episode_edit" id="episode_edit" type="number" class="form_input"  placeholder="Loading..." required>
            <br>
            <button type="submit" class="add_list">Update</button>
            <button type="reset" class="cancel_btn">Cancel</button>
        </form>
    </div>
</div>
</div>