<!-- MODALS BOX -->
<!-- MODALS WRAPPER -->
<div class="modal_wrapper modal_3">
<!-- MODALS MAIN -->
<div class="modal_main">
    <div class="modal_header">
        <h2><span class="header_text_next">Loading...</span></h2>
    </div>
    <div class="modal_content">
         <form class="form_modal" method="POST" action="/next_episode">
            <input name="title_next" id="title_next" type="hidden">
            <input name="id_next" id="id_next" type="hidden">
            <label for="season_next" class="second_label">Season</label>
            <br>
            <input name="season_next" id="season_next" type="number" class="form_input"  placeholder="Loading..." required>
            <br>
            <br>
            <label for="episode_next" class="second_label">Episode</label>
            <br>
            <input name="episode_next" id="episode_next" type="number" class="form_input"  placeholder="Loading..." required>
            <br>
            <button type="submit" class="add_list">Next</button>
            <button type="reset" class="cancel_btn">Cancel</button>
        </form>
    </div>
</div>
</div>